<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vk/SMjzAqFXY3uNDzJRrYiqbPk9S7q0W3Rjz4O5E24i/6WTl4/8+Uew+Orvq" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <nav>
        <h2>PUZZLE PALOOZA CODEATHON </h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
           <h1 class="display-4">Hello Peeps!!!</h1>
           <p class="lead">Two players form a team and play together.They take turns rolling
            the dice and moving accordingly.Landing on a tile presents a code or a puzzle
           </p>
           <hr class="my-4">
           <p>Solve the challenge to advance.The team who advances the farthest becomes the leading team.</p>
           <p class="lead">
           <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
           </p>
</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-36qa4849blE2+poT4WvfVrjyMsF3+Jc8J1aZ0JX61G5fJSOwF+V8voU8tE+8JhG" crossorigin="anonymous"></script>
</body>
</html>